body {
    background-color: black;
    margin: 0;
}

#Omega{
    display: block;
    max-width: 350px;
    height: 350px;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
}

p{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: white;
    -webkit-text-stroke: 1px black;
}

button {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: 15px 30px;
    width: 245px;
    height: 110px;
    transition: 1s;
    border: none;
    background-color: rgba(15,17,20,0.95);
    color: rgba(145,70,255,0.95);
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    border-radius: 5px;
}

button:hover {
    border: none;
    background-color: rgba(145,70,255,0.95);
    color: black;
    box-shadow: 0 0 5px rgba(145,70,255,0.95),
    0 0 10px rgba(145,70,255,0.95),
    0 0 25px rgba(145,70,255,0.95),
    0 0 50px rgba(145,70,255,0.95);
}

.backgroundLUL{
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(145,70,255,0.95);
    border: black 5px solid;
    border-radius: 8px;
    font-size: 32px;
}

.background{
    max-width: 950px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.padding{
   padding: 10px;
    display: inline-block;
}

.padding2{
    padding: 10px;
}

#autoclicker:hover {
    background-image: url("img/herE.png");
    background-size: 250px 110px;
}

#autoclicker2:hover {
    background-image: url("img/agrE.png");
    background-size: 250px 110px;
}

#autoclicker3:hover {
    background-image: url("img/zaludE.png");
    background-size: 250px 110px;
}

#autoclicker4:hover {
    background-image: url("img/forsenScoots.png");
    background-size: 250px 110px;
}

#autoclicker5:hover {
    background-image: url("img/ZULUL.png");
    background-size: 250px 110px;
}

#autoclicker6:hover {
    background-image: url("img/TriHard.png");
    background-size: 250px 110px;
}

#autoclicker7:hover {
    background-image: url("img/pepeJAM.png");
    background-size: 250px 110px;
}

#autoclicker8:hover {
    background-image: url("img/KEKW.png");
    background-size: 250px 110px;
}